---
layout: default 
---
<!-- localize: <link href='https://fonts.googleapis.com/css?family=Droid+Serif:700italic' rel='stylesheet' type='text/css'> -->
<style>
h1 {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

@font-face {
    font-family: 'Droid Serif';
    src: url(font/DroidSerif-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

.serif {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

.img-circle {
    border-radius: 50%;
}
</style>
<script>
function happyQuack() {
    var audio = new Audio("audio/happyQuack01.mp3");
    audio.play();
}
</script>
<div class="home">
    <div class="row">
        <!--MagicalAndor Announcement-->
        <div>
            <h3 class="serif">There are two ways to be magical. Programming and Love.</h3>
        </div>
        <div class="row">
            <div class="col-sm-3"><img class="img-circle" src="images/achievement.png"></div>
            <div class="col-sm-6">
                <h1 class="page-heading">Achievement</h1></div>
            <div class="col-sm-3"></div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsealgs4part1">
					<div class="alert alert-success">						
							<h4>Algorithms, Part I, Princeton University
								<img src="images/trophy.png">
								<img src="images/trophy.png">
								<img src="images/trophy.png">
								<img src="images/trophy.png">
								<img src="images/trophy.png">
							</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100% Completed 5/5 Full Basic Marks 2/2 Full Bonus
                    </div>
                </div>
                </a>
                </h4>
            </div>
            <div id="collapsealgs4part1" class="panel-collapse collapse">
                <div class="panel-body">
                    <!--
				  <h2>Accordion Example</h2>
				  <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
				-->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Programming Assignment 1: Percolation</a>
						</h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% Complete (success) 100.0/100.0 Basic Marks 1.25/1.25 Bonus
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Programming Assignment 2: Randomized Queues and Deques</a>
						</h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% Complete (success) 100.0/100.0 Basic Marks 0.19/0.19 Bonus
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Programming Assignment 3: Collinear Points</a>
						</h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% Complete (success) 100.0/100.0 Basic Marks
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Programming Assignment 4: 8 Puzzle</a>
						</h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% Complete (success) 100.0/100.0 Basic Marks
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Programming Assignment 5: Kd-Trees</a>
						</h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            100% Complete (success) 100.0/100.0 Basic Marks
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsecloudcomputing">
					<div class="alert alert-success">
						<h4>S16-15619 Cloud Computing, Carnegie Mellon University</h4>
                    </div>
                    <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Completed (A+)
                    </div>
                </div>
            </div>
            </a>
            </h4>
        </div>
        <div id="collapsecloudcomputing" class="panel-collapse collapse">
            <div class="panel-body"></div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
				<a data-toggle="collapse" href="#collapsealgs4part2">
					<div class="alert alert-info">
						<h4>(Ongoing)Algorithms, Part II, Princeton University</h4>
        </div>
        </a>
        </h4>
    </div>
    <div id="collapsealgs4part2" class="panel-collapse collapse">
        <div class="panel-body"></div>
        <div class="panel-footer"></div>
    </div>
</div>
</div>
<!--MagicalAndor tag list-->
<div class="col-sm-3">
    <h1 class="page-heading">Tags</h1> {% for data_tag in site.data.tags %} {% assign tag = data_tag %}
    <a href="/tag/{{ tag.slug }}">{{ tag.name }}</a>
    <br> {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="page-heading">Copyright Notice</h1> © Marshall An and MagicalAndor Blog, 2015-2016.
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a><br />Every blog post in this site by Marshall An (MagicalAndor) is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.
    
</div>
<div class="col-sm-9">
    <!--MagicalAndor Background Music-->
    <audio controls autoplay loop>
        <source src="audio/MarchOfDuck.ogg">
    </audio>
    <h1 class="page-heading">Pinned</h1>
    <ul class="post-list serif">
        <!--Pinnded Posts-->
        {% for post in site.posts %} {% if post.title == "C#-Head First Quack!-Modding in DuckGame" %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <div class="row">
                <div class="col-sm-9">
                    <h2>
			  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
                </div>
                <div class="col-sm-3">
                    <a href="tag/Modding" onmouseover="happyQuack()"><img class="img-circle" src="images/hungontree4.jpg" href="tag/Modding"></a>
                </div>
            </div>
        </li>
        {% endif %} {% endfor %}
    </ul>
    <h1 class="page-heading">Posts</h1>
    <ul class="post-list serif">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> {% if post.tags contains "Algorithms" or post.tags contains "Modding" or post.tags contains "Java" %}
            <div class="row">
                <div class="col-sm-9">
                    {% endif %}
                    <h2>
			  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			  {% if post.tags contains "Algorithms" or  post.tags contains "Modding" or post.tags contains "Java" %}
			  </div>			
				{% if post.tags contains "Algorithms" %}
				<div class="col-sm-3"><a href="tag/Algorithms"><img class="img-circle" src="images/algs4.jpg" ></a></div>
				{% elsif post.tags contains "Java" %}
				<div class="col-sm-3"><a href="tag/Algorithms"><img class="img-circle" src="images/java_logo.png" ></a></div>
				{% elsif  post.tags contains "Modding" %}
				<div class="col-sm-3"><a href="tag/Modding" onmouseover="happyQuack()"><img class="img-circle" src="images/hungontree4.jpg" href="tag/Modding"></a></div>
				{% endif %}
			  {% endif %}
			</h2> {% if post.tags contains "Algorithms" or post.tags contains "Modding" or post.tags contains "Java" %}
                </div>
                {% endif %}
        </li>
        {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>
    </div>
</div>
</div>
</div>
