<h4>Reference</h4>
{% for data_reference in site.data.references %}
    {% if data_reference.title == page.title %}
        {% for page in data_reference.page %}
            {% assign index = forloop.index | minus:1 %}
            {% if data_reference.href[index].size > 0 %}
                <a href="{{ data_reference.href[index] }}"><em>{{ data_reference.page[index] }}</em></a><br>
            {% else %}
                <span>{{ data_reference.page[index] }}</span><br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
