<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	<body>
	<!-- Header
	    ================================================== -->
	{% include header.html %}

	{{ content }}

	<!-- Footer
	    ================================================== -->
	{% include footer.html %}

	<!-- Javascript lib
	    ================================================= -->
	{% include javascript-lib.html %}

    <!-- Analytics
    ================================================== -->
	{% include analytics.html %}
	</body>

</html>